name: Deploy Storage with Bicep

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.SECRET }}

      - name: Deploy Bicep Template
        run: |
          az deployment group create \
            --resource-group arm-lab-rg \
            --template-file bicep/storage.bicep \
            --parameters parameters/dev.bicepparam
