name: Deploy Windows VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.SECRET }}

    - name: Deploy Bicep Template
      run: |
        az deployment group create \
          --resource-group vm-rg-fc \
          --template-file ./bicep/vm.bicep \
          --parameters ./parameters/vm.bicepparam