name: Deploy JumpHost VM with Bicep

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.SECRET }}

      - name: Deploy JumpHost VM
        run: |
          az deployment group create \
            --resource-group vm-rg-fc \
            --template-file bicep/jumphostvm.bicep \
            --parameters parameters/jumphostvm.bicepparam \
                         adminPassword=${{ secrets.VM_ADMIN_PASSWORD }}
